/* Notes on "How to use" at the end of code */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

/* CSS RESET */
* { box-sizing: border-box; }

body { padding: 0; margin: 0; font-family: "Inter", sans-serif;  overflow-x: hidden; background-color: #080202; color: #fff; width: 70%; margin: 0 auto; }

h1, h2, h3, h4, h5, h6, p, hr { margin: 0; padding: 0; }
p { margin: 20px 0; font-size: 16px; line-height: 2; font-weight: 200; }
img { display: block; padding: 0; margin: 0; }

/* >>> FAQ STYLES <<< */
.faq_container { border-bottom: 2px solid #ddd; }
.faq_question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.answer {
  padding: 0 10px 20px;
  line-height: 1.5rem;
}
.fqa_headline_container h2 span { font-weight: 700; }
.faq_question-text h3 { font-size: 22px; }

.icon.active {
  background: transparent;
  border: 2px solid #fff;
}
.icon:hover { cursor: pointer; }
.icon-shape { position: relative; width: 50px; height: 50px; }
.icon .icon-shape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 30px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape.active::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.5s ease;
}
.icon .icon-shape.active::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.5s ease;
}

/* ===> SOME SUGGESTIONS ON USING THE CODE <=== */
/* There are 2 Main containers in a single FAQ Container - faq_question & answercont */
/* You can make a div inside these container to add content and styling purposes */