.project-card {

    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-details {
    padding: 16px;
  }
  
  .project-details h2 {
    margin-bottom: 8px;
  }
  
  .project-details p {
    color: #666;
  }
  
  .project-details a {
    display: block;
    margin-top: 16px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  .project-details a:hover {
    text-decoration: underline;
  }