@import url("./base.css");
@import url("./layout.css");
@import url("./helper.css");
@import url("./variables.css");

:root {
  --section-margin: 10px;
}
.main-grid {
  max-width: max-content;
  min-height: 90dvh;
  margin-block: var(--section-margin);
}
.main-grid .container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-grid {
  width: 100%;
  height: min-content;
  margin-bottom: var(--section-margin);

}
.grid-header {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.project-grid .container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-block: var(--section-margin);
}
.resume-grid {
  width: 100%;
  height: min-content;
  margin-bottom: var(--section-margin);
}
.resume-grid .container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-block: var(--section-margin);
  position: relative;
}
.resume-grid .experience,
.education {
  flex: 1; /* Each child takes up equal width */
  margin: 10px; /* Add margin or adjust as needed */
  position: relative;
}
.experience__time-line__item{
  padding: 10px;

}
.resume-grid  .experience__card,.resume-grid .education__card{
  position: sticky;
  top: 10px;

}
.resume-grid .experience .spotlight-card-wrapper,.education .spotlight-card-wrapper
 {
  width: 100%;
}

.education {
  /* height: fit-content;
  position: sticky;
  top: 10px; */

}


.contact-grid{
    width: 100%;
    height: 100vh;
}
.contact-grid .container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-grid{


}
.scroll-reveal {
  text-align: center;
  padding-block: clamp(8rem, 25vh, 20rem);
  
}

.scroll-reveal h2 {
  font-size: 5rem;
  line-height: 1;
}

.scroll-reveal p {
  font-size: 1.75rem;
  line-height: 1.3;
  max-width: 55ch;
  margin-inline: auto;
}
.scroll-reveal > * {
  margin: 0;
}

/* demo only */

.scroll-reveal span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  text-wrap: pretty;
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(y);
}

.scroll-reveal h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.scroll-reveal p span {
  animation-range-start: cover 22.5vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}


.center {
  display: table;
  width: 100%;
  height: 100vh;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;

  .social {
    padding-left: 0px;
  }
  li {
    color: hsla(var(--cl--baby-powder), 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid hsla(var(--cl--baby-powder), 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: hsla(var(--cl--baby-powder), 1);
      border: 1px solid hsla(var(--cl--baby-powder), 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

.template-grid .container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }


  .skills-grid{

  } 
  
  .skills-grid .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }