:root{
    --cl--black: 40, 23%, 3% ;
    --cl--ic-terine: 64, 100%, 66%;
    --cl--cerise: 344, 78%, 55%;
    --cl--orange-peel: 35, 100%, 55%;
    --cl--baby-powder: 60, 100%, 99%;

    --nav-max-height : 80px
    --nav-padding : 20px
}