.project {
    height: 400px;
    flex: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: hsl(var(--cl--baby-powder));
    transition: all 0.3s ease-in-out;/* Added transition property */
    position: relative;
  }
  .project::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the darkness level */
    z-index: 0;
    pointer-events: none;
    
  }

  .project__content{
    z-index: 1;
  }

  .project:hover{
    transform: scale(0.9) translateZ(0);
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.185));
    color: rgb(255, 255, 255, 80%);
    border-radius: 50px;
    
  }
  
  .container:hover > .project:not(:hover){
    filter:  blur(10px);
    transform: scale(1) translateZ(0);
  }

  

  /* .project:hover {
    transform: scale(0.9);
    filter: drop-shadow(0 0 0px rgb(255, 255, 255, 60%));
    color: rgb(255, 255, 255, 80%);

  } */
